/* General styles */
 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: 'Noto Sans JP', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
    text-align: center;
}

@media only screen and (max-width: 480px) {
    html {
        font-size: 12px;
    }
}
/* Header */

header {
    position: fixed;
    left: 0;
    top: 0;
    height: 4rem;
    background-color: black;
    z-index: 10;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

body {
    margin-top: 4rem;
}

.main-link-text {
    font-size: 2rem;
    font-family: 'Comforter Brush', cursive;
    margin: 0 1rem;
}

a {
    color: burlywood;
    text-decoration: none;
}

.head-link-container a {
    padding: 0px 0.7rem;
}

.head-link-container a:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 400px) {
    .main-link-text {
        font-size: 1.2rem;
    }

    .head-link-container a {
        font-size: 0.8rem;
    }
}
/* First section */

.picture-container {
    height: 80vh;
    width: 100%;
}

.picture-background {
    background-image:  linear-gradient(to bottom,rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0.2)),url(./resources/backgound.webp);
    background-size: cover;
    background-position: bottom;
    height: 100%;
}

.picture-text {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.picture-text .exotic {
    color: burlywood;
}

.picture-text h1 {
    font-family: 'Comforter Brush', cursive;
    font-size: 9rem;
    color: rgb(255, 255, 255);
}

.picture-text h2 {
    padding: 2rem;
    color: white;
    font-family: 'Alkalami', serif;
    font-style: italic;
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
}

@media only screen and (max-width: 600px) {
    .picture-text h1 {
        font-size: 4rem;
    }
}

@media only screen and (max-width: 400px) {
    .beers-line h2,
    .workers-line h2 {
        font-size: 2.5rem;
    }
}

/* Secound Section */

.beers-line {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
}

.beers-line h2 {
    font-family: 'Alkalami', serif;
    font-size: 4rem;
    letter-spacing: 0.6rem;
    word-spacing: 1rem;
}

.beers-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: black;
}

.beer-box {
    width: 30%;
    margin: 10px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.beer-box h3 {
    color: white;
    margin: 10px;
    text-align: center;
}

.beer-box img {
    width: 90%;
    max-width: 100%;
    border: 5px solid burlywood;
    height: auto;
}

.beer-box li {
    color: white;
}

@media only screen and (max-width:780px) {
    .beer-box {
        width: 35%;
    }    
}
@media only screen and (max-width:780px) {
    .beers-line h2 {
        font-size: 2.2rem;
    }
}
/* Third section */

.workers-line {
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.workers-line h2 {
    font-family: 'Alkalami', serif;
    font-size: 4rem;
    letter-spacing: 0.6rem;
    word-spacing: 1rem;
}

.workers-flex {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-image: linear-gradient(to bottom,rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.95)),url(./resources/background\ 2\ .jpeg);
}

.workers-box {
    width: 25%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

.workers-box img {
    width: 90%;
    max-width: 100%;
}

.workers-box h3 {
    font-weight: 800;
    font-size: 2em;
    margin: 10px 15px; 
    color: white;
}

.workers-box h4 {
    text-align: center;
    padding: 5px;
    font-size: 1.5em;
    color: white;
}

.workers-box h5 {
    text-align: center;
    font-size: 1.2em;
    color: white;
} 
@media only screen and (max-width: 480px) {
    .workers-box {
        font-size: 10px;
    }
}

/* Footer section */

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8rem;
    background-color: black;
}

footer h4 {
    color: white;
    margin: 10px;
}

footer p {
    color: white;
    margin: 10px;
}